<!-- it is the login page -->
<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

 <!-- Background image -->
<div
class="bg-image"
style="
  background-image: url('https://images.unsplash.com/photo-1527697911963-20cb424e9608?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1364&q=80');
  height: 100vh;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

"
>
<div  style= "position: fixed; top: 48%; left: 50%; transform: translate(-50%, -50%);">
<div>
  <div container>
      <div class="d-flex justify-content-center">
        <h2>Taka School</h2>
      </div>
      <div class="d-flex justify-content-center">
        <h5>Auction</h5>
      </div>
      <div class="pb-5"></div>
      <div class="d-flex justify-content-center ">
        <a class="dropdown-item" href="{% url 'homeview' %}">Login</a>
            
          </div>
      </div>
  </div>

</div>
</div>
</div>
<!-- Background image -->
<!-- <form class="row g-3" action= "{% url 'checklogin' %}" method="POST" >
    {% csrf_token %}
    <div class="col-auto">
        <label for="exampleFormControlInput1" class="visually-hidden">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Login</button>
    </div>
  </form> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
  </html>